$secondary-color: #e48326;
$hover-text-color: #fff;
$bg-color: #ffcf99;
$bg-color-opacity: #ffcf99cc;

.nav-list {
  display: inline-flex;
  gap: 1.5rem;
  list-style: none;

  .nav-item {
    color: inherit;
    text-decoration: none;
    padding: 0.7rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover,
    &:active,
    &:focus {
      background-color: $secondary-color;
      color: $hover-text-color;
      outline: none;
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;
  .header-btn {
    display: none;
  }
  .burger {
    display: none;
    cursor: pointer;
    padding: 0.7rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 1.5rem;
    color: $secondary-color;

    &:hover,
    &:active,
    &:focus {
      background-color: $secondary-color;
      color: $hover-text-color;
      outline: none;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.onActiveBurger {
  height: 99px;
  display: none;
}
.onActiveBurger.active {
  display: block;
}

@media screen and (max-width: 990px) {
  .header {
    transition: background-color 0.5s ease;
    &.active {
      overflow-y: hidden;
      background-color: $bg-color;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      padding: inherit;
      box-sizing: border-box;

      .header-nav {
        display: flex;
        .header-nav__list {
          transition: left 0.5s ease;
          display: inline-flex;
          position: fixed;
          left: 50%;
          transform: translateX(-50%);
          z-index: 999;
          text-align: center;
          color: #000;
        }
        .header-btn {
          display: block;
          .button {
            background-color: #fff;
          }
        }
        .burger {
          color: #000;
        }
      }
    }
    .header-btn {
      display: none;
    }
    .header-nav {
      .header-nav__list {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: $bg-color;
        position: fixed;
        top: 5rem;
        left: -120%;
        transition: left 0.5s ease;
      }
      .burger {
        display: block;
        font-size: 2.5rem;
        &:hover,
        &:active,
        &:focus {
          background-color: inherit;
          color: inherit;
        }
      }
    }
  }
  #main {
    margin-top: 2rem;
  }
}
