#gallery {
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent !important;
  height: auto;
  .animate__animated {
    text-align: center !important;
  }
  .button {
    margin: 1rem 0;
  }
}

.big-gallery {
  header {
    background-color: #ffcf99 !important;
    .MuiToolbar-regular {
      align-self: start;
    }
  }
  .MuiPaper-root {
    align-items: center !important;
  }
}

@media screen and (max-width: 768px) {
  #gallery {
        .gallery-images {
          li {
            height: 200px !important;
          }
        }
  }
}

@media screen and (max-width: 580px) {
  #gallery {
    .gallery-images {
      column-count: 2 !important;
    }
}
  
}
